apiVersion: apps/v1
kind: Deployment
metadata:
  name: booking
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: booking
  template:
    metadata:
      labels:
        app: booking
    spec:
      containers:
        - name: booking
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          ports:
            - containerPort: 80
