apiVersion: apps/v1
kind: Deployment
metadata:
  name: search
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: search
  template:
    metadata:
      labels:
        app: search
    spec:
      containers:
        - name: search
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          ports:
            - containerPort: 80
